<%- include ('partials/header.ejs'); -%>

	<h1> Welcome to Venus! </h1>
	<img src="/img/venus.jpg" alt="Image of Venus" width="50%">
	<p>
		Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty. As the second-brightest natural object in the night sky after the Moon, Venus can cast shadows and, rarely, is visible to the naked eye in broad daylight. Venus lies within Earth's orbit, and so never appears to venture far from the Sun, either setting in the west just after dusk or rising in the east a bit before dawn.
	</p>
<%- include ('partials/footer.ejs'); -%>